// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

.fa-chevron-down{
  margin-top: 50px;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
}

body{
  background-color: #EEF4F6;
}
