.wrapper-code{
  text-align: center;
  margin-top: 0px;
  padding: 50px;
  font-family: 'Cutive Mono';
}

.code-visual i{


}


.code{
  text-align: center;
}

.code-visual h1{
  font-family: 'Cutive Mono';
  font-size: 26px;
}

.fa-code{

  font-size: 200px;
  text-decoration: none;
  color: black;
}

.fa-code:hover{
  text-decoration: none;
  color: black;
}

.code-txt{
  text-align: right;
  padding: 20px;
}
