.wrapper-gd{
  margin-top: 50px;
  padding: 50px;
  background: #fff4f6;
  font-family: 'Cutive Mono';
}

.gd-visual{
  font-size: 200px;
}


.gd{
  padding: 20px;
  text-align: left;
}

.gd h1{
  font-family: 'Cutive Mono';
  font-size: 26px;
}

.fa-behance{
text-decoration: none;
color: grey;
}

.fa-behance:hover{
text-decoration: none;
color: black;
}
