<div class="navbar-wagon">
  <!-- Logo -->



  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu navbar-wagon-dropdown-menu">
        <li><a href="#projects">projects</a></li>
        <li><a href="#aboutme">about me</a></li>
      </ul>
    </div>
  </div>
</div>
