---
title: Le Wagon Middleman boilerplate
---
<!--banner-->
<div class="banner" style="background: linear-gradient(-225deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%), url('images/water.jpg');">
  <div class="text-center">
    <h1>
      SIMONE DE BEST
    </h1>
    <p>
      Welcome to my personal portfolio website
    </p>
  </div>
</div>
<!--banner end-->
<br/>
<!-- projects -->
<div class="projects text-center">
  <h2> Projects and personal work </h2>
  <h3> artwork | print | web | design </h3>
  <br/>
  <div class="projects-card">
    <div class="container">
      <div class="row">
        <div class="cards_wrapper">
        <div class="col-xs-12 col-lg-4">
            <div class="card_wrapper">
              <div class="card-side1">
                <div class="card-hover">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-xs-12 col-lg-4">
            <div class="card_wrapper">
              <div class="card-middle-1">
                <div class="card-hover">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>
                </div">
              </div>
              <div class="card-middle-2">
                <div class="card-hover">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="card_wrapper">
            <div class="card-side">
              <div class="card-hover">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end projects -->
